<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
    <div class="vertical">
        <div id="header-triangle">
            <a href="{{@blog.url}}"><img src="/assets/images/logo.png"></a>
            <div class="triangle"></div>
        </div>
    </div>

    <img src="/assets/images/bodyveins.png" id="bodyVeins">
</header>